In [89]:
from pymongo import MongoClient
import pandas as pd
import time
import folium
import geopandas as gpd
import json
import random

In [90]:
df_countries = pd.read_csv(r'../project-III-geospatial-data/countries.csv')

In [91]:
#Set connection to mongoDB
def mongo_connection(database,collection):
    client = MongoClient("localhost:27017")
    db = client[f"{database}"]
    client.list_database_names()
    global c 
    c = db.get_collection(f"{collection}")

In [92]:
mongo_connection("Ironhack","companies")

In [93]:
# We want to filter first all companies with category_code 'design' 
c.distinct("category_code")

[None,
 'advertising',
 'analytics',
 'automotive',
 'biotech',
 'cleantech',
 'consulting',
 'design',
 'ecommerce',
 'education',
 'enterprise',
 'fashion',
 'finance',
 'games_video',
 'government',
 'hardware',
 'health',
 'hospitality',
 'legal',
 'local',
 'manufacturing',
 'medical',
 'messaging',
 'mobile',
 'music',
 'nanotech',
 'network_hosting',
 'news',
 'nonprofit',
 'other',
 'photo_video',
 'public_relations',
 'real_estate',
 'search',
 'security',
 'semiconductor',
 'social',
 'software',
 'sports',
 'transportation',
 'travel',
 'web']

In [94]:
filter_ = {"overview": {"$regex": ".*design*"}}
projection = {"name":1, "offices.latitude":1, "offices.longitude":1, "offices.country_code":1, "_id":0}
new_list = list(c.find(filter_, projection))

In [95]:
lat_long_list = [(d['name'], d['offices'][0]['latitude'], d['offices'][0]['longitude'], d['offices'][0]['country_code']) for d in new_list if d['offices']]

In [96]:

df = pd.DataFrame(lat_long_list, columns=['Name', 'Latitude', 'Longitude', 'Country code'])
df

                                Name   Latitude   Longitude Country code
0                             Gizmoz  37.484130 -122.169472          USA
1                           Babelgum  53.344104   -6.267494          GBR
2                              Cisco  37.408802 -121.953770          USA
3                            YouTube  37.627971 -122.426804          USA
4                              Intel  37.384949 -121.967610          USA
...                              ...        ...         ...          ...
1992                        SEO Sumo  25.723408  -80.306331          USA
1993               SolarPower Israel        NaN         NaN          ISR
1994                   Willdan Group  33.806525 -117.882314          USA
1995  Contemporary Computer Services  40.775055  -73.088140          USA
1996                            QSGI  26.705331  -80.041395          USA

[1997 rows x 4 columns]

In [97]:
country_counts = df['Country code'].value_counts()
new_df = pd.DataFrame({'Country code': country_counts.index, 'Count': country_counts.values})
new_df

   Country code  Count
0           USA   1295
1           GBR    162
2           CAN     81
3           IND     67
4           FRA     47
..          ...    ...
56          BGD      1
57          AUT      1
58          MEX      1
59          LVA      1
60          KEN      1

[61 rows x 2 columns]

In [98]:
merged_df = new_df.merge(df_countries, left_on='Country code', right_on='cca3')

In [99]:

merged_df.drop(columns='place',inplace=True)
merged_df.drop(columns='cca3',inplace=True)
merged_df.drop(columns='cca2',inplace=True)
merged_df.drop(columns='ccn3',inplace=True)
merged_df.drop(columns='region',inplace=True)
merged_df.drop(columns='Rank',inplace=True)
merged_df.drop(columns='landAreaKm',inplace=True)
merged_df.drop(columns='pop2023',inplace=True)
merged_df.drop(columns='densityMi',inplace=True)
merged_df

,Country code,Count,growthRate,area,country,subregion,density
0,USA,1295,0.00505,9372610.0,United States,Northern America,37.1686
1,GBR,162,0.00338,242900.0,United Kingdom,Northern Europe,279.9851
2,CAN,81,0.00850,9984670.0,Canada,Northern America,4.3256
3,IND,67,0.00808,3287590.0,India,"Southern Asia, South Central Asia",480.5033
4,FRA,47,0.00201,551695.0,France,Western Europe,118.2646
5,ISR,31,0.01507,20770.0,Israel,"Western Asia, The Middle East",423.9612
6,AUS,30,0.01000,7692024.0,Australia,Australia and New Zealand,3.4372
7,NLD,24,0.00309,41850.0,Netherlands,Western Europe,523.2640
8,CHN,23,-0.00015,9706961.0,China,Eastern Asia,151.2696
9,DEU,23,-0.00090,357114.0,Germany,Western Europe,238.4002
10,ESP,19,-0.00082,505992.0,Spain,Southern Europe,95.1236
11,IRL,18,0.00673,70273.0,Ireland,Northern Europe,73.4059
12,ITA,13,-0.00282,301336.0,Italy,Southern Europe,199.0780
13,CHE,11,0.00643,41284.0,Switzerland,Western Europe,222.6103
14,ARG,10,0.00579,2780400.0,Argentina,"South America, Latin America",16.7260
15,TWN,10,0.00125,36193.0,Taiwan,Eastern Asia,660.9188
16,HKG,8,0.00037,1104.0,Hong Kong,Eastern Asia,7134.8657
17,SWE,8,0.00595,450295.0,Sweden,Northern Europe,26.0558
18,BEL,7,0.00259,30528.0,Belgium,Western Europe,385.9359
19,PRT,6,-0.00227,92090.0,Portugal,Southern Europe,111.8666
20,NZL,6,0.00826,270467.0,New Zealand,Australia and New Zealand,19.8553
21,TUR,6,0.00557,783562.0,Turkey,"Western Asia, The Middle East",109.5206
22,SGP,6,0.00653,710.0,Singapore,South-Eastern Asia,8377.0515
23,DNK,6,0.00487,43094.0,Denmark,Northern Europe,147.7728
24,FIN,5,0.00085,338424.0,Finland,Northern Europe,18.2453
25,PAK,4,0.01976,881912.0,Pakistan,"Southern Asia, South Central Asia",311.9625
26,ZAF,4,0.00869,1221037.0,South Africa,"Southern Africa, Sub-Saharan Africa",49.8022
27,JPN,4,-0.00530,377930.0,Japan,Eastern Asia,338.2566
28,RUS,3,-0.00186,17098242.0,Russia,Eastern Europe,8.8200
29,SVN,3,-0.00008,20273.0,Slovenia,Southern Europe,105.2658
30,KOR,3,-0.00061,100210.0,South Korea,Eastern Asia,530.5744
31,PHL,3,0.01539,342353.0,Philippines,South-Eastern Asia,393.5251
32,URY,3,0.00009,181034.0,Uruguay,"South America, Latin America",19.5584
33,CYP,3,0.00691,9251.0,Cyprus,"Eastern Europe, The Middle East",136.3786
34,CZE,2,0.00013,78865.0,Czech Republic,Eastern Europe,135.9521
35,MYS,2,0.01091,330803.0,Malaysia,South-Eastern Asia,104.4241
36,HRV,2,-0.00539,56594.0,Croatia,Southern Europe,71.6336
37,POL,2,0.02933,312679.0,Poland,Eastern Europe,134.0152
38,HUN,2,0.01896,93028.0,Hungary,Eastern Europe,111.2891
39,CRI,2,0.00605,51100.0,Costa Rica,"Central America, Latin America",102.0794
40,ARE,2,0.00802,83600.0,United Arab Emirates,"Western Asia, The Middle East",134.0027
41,UKR,2,-0.07448,603500.0,Ukraine,Eastern Europe,63.4184
42,LKA,2,0.00281,65610.0,Sri Lanka,"Southern Asia, South Central Asia",353.9214
43,THA,2,0.00145,513120.0,Thailand,South-Eastern Asia,140.5416
44,MAR,2,0.01020,446550.0,Morocco,Northern Africa,84.7861
45,MUS,2,0.00084,2040.0,Mauritius,"Eastern Africa, Sub-Saharan Africa",640.6685
46,NOR,2,0.00737,323802.0,Norway,Northern Europe,15.0277
47,VEN,1,0.01897,916445.0,Venezuela,"South America, Latin America",32.6949
48,IDN,1,0.00738,1904569.0,Indonesia,South-Eastern Asia,147.8196
49,PRI,1,0.00243,8870.0,Puerto Rico,Caribbean,367.5664
50,COL,1,0.00407,1141748.0,Colombia,"South America, Latin America",46.9447
51,MKD,1,-0.00378,25713.0,North Macedonia,Southern Europe,82.6994
52,EGY,1,0.01556,1002450.0,Egypt,"Northern Africa, The Middle East",113.2318
53,EST,1,-0.00249,45227.0,Estonia,Northern Europe,30.9419
54,CYM,1,0.00879,264.0,Cayman Islands,Caribbean,288.7917
55,BGD,1,0.01033,147570.0,Bangladesh,"Southern Asia, South Central Asia",1328.6803
56,AUT,1,0.00216,83871.0,Austria,Western Europe,108.5671
57,MEX,1,0.00746,1964375.0,Mexico,"Central America, Latin America",66.0797
58,LVA,1,-0.01105,64559.0,Latvia,Northern Europe,29.4104
59,KEN,1,0.01986,580367.0,Kenya,"Eastern Africa, Sub-Saharan Africa",96.8138

In [109]:
# Calculate score for each country
merged_df['Count per 100km2'] = merged_df['Count'] / (merged_df['area'] / 1000)
merged_df['score'] = merged_df['Count'] * merged_df['growthRate'] * merged_df['density'] * merged_df['Count per 100km2']

# Sort dataframe by score in descending order
merged_df = merged_df.sort_values('score', ascending=False)

# Print top 10 countries by score
print(merged_df[['country', 'Count','Count per 100km2', 'growthRate', 'density', 'score']].head(5))

           country  Count  Count per 100km2  growthRate    density  \
22       Singapore      6          8.450704     0.00653  8377.0515
5           Israel     31          1.492537     0.01507   423.9612
16       Hong Kong      8          7.246377     0.00037  7134.8657
1   United Kingdom    162          0.666941     0.00338   279.9851
0    United States   1295          0.138169     0.00505    37.1686

          score
22  2773.629953
5    295.614856
16   153.037699
1    102.247838
0     33.585094

In [111]:
filter1 = {"overview": {"$regex": ".*design*"}}
filter2 = {"offices.country_code" : "SGP"}
projection = {"name":1, "offices.latitude":1, "offices.longitude":1, "offices.country_code":1, "_id":0}

sgp_list = list(c.find({
            "$and": 
                [filter1, filter2]}, projection))

lat_long_list = [(d['name'], d['offices'][0]['latitude'], d['offices'][0]['longitude'], d['offices'][0]['country_code']) for d in sgp_list if d['offices']]

In [112]:
lat_long_list

[('Cubic Lime', 1.280574, 103.82392, 'SGP'),
 ('Pluit Solutions', 1.366447, 103.85415, 'SGP'),
 ('Jorbb', 1.308655, 103.861929, 'SGP'),
 ('Jorbb', 1.308655, 103.861929, 'SGP'),
 ('Ground labs', None, None, 'SGP'),
 ('eDLink Services Pte Ltd', None, None, 'SGP'),
 ('Niyati Technologies', None, None, 'IND'),
 ('CASON', 47.3752475, 18.9082252, 'HUN'),
 ('Flextronics International', None, None, 'USA'),
 ('Tata Communications', None, None, 'NLD'),
 ('Huge', 40.7028474, -73.9906813, 'USA'),
 ('Lenovo', None, None, 'USA')]

In [121]:

sgp_df = pd.DataFrame(lat_long_list, columns=['Name', 'Latitude', 'Longitude', 'Country code'])
sgp_df = df[df['Country code'] == 'SGP']
sgp_df = sgp_df.drop_duplicates(subset=['Name', 'Latitude', 'Longitude'])
new_values = {'Name': ['Ground labs', 'eDLink Services Pte Ltd'], 
              'Latitude': [1.2956954, 1.2758965], 
              'Longitude': [103.8568923, 103.8127756],
              'Country code': ['SGP', 'SGP']}

new_df = pd.DataFrame(new_values)

df = sgp_df.append(new_df)

df = df.dropna()

df = df.drop_duplicates()

df = df.reset_index(drop=True)

df

C:\Users\Tim_K\AppData\Local\Temp\ipykernel_6896\1080439111.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = sgp_df.append(new_df)

                      Name  Latitude   Longitude Country code
0               Cubic Lime  1.280574  103.823920          SGP
1          Pluit Solutions  1.366447  103.854150          SGP
2                    Jorbb  1.308655  103.861929          SGP
3              Ground labs  1.295695  103.856892          SGP
4  eDLink Services Pte Ltd  1.275896  103.812776          SGP